<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Perfil</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div class="profile-container">
    <div class="avatar-container">
      <ion-avatar class="profile-avatar">
        <img [src]="foto" alt="Avatar">
      </ion-avatar>


    </div>
  

    <br>

    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="stacked" color="ion-color-iris">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" [disabled]="!modoEdicion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="ion-color-iris">Usuario</ion-label>
        <ion-input [(ngModel)]="usuario" [disabled]="!modoEdicion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="ion-color-iris">Correo</ion-label>
        <ion-input [(ngModel)]="correo" [disabled]="!modoEdicion"></ion-input>
      </ion-item>
    </ion-list>
    <br>

    <ion-button class="boton" (click)="toggleModoEdicion()">
      {{ modoEdicion ? 'GUARDAR CAMBIOS' : 'EDITAR INFORMACIÓN' }}
    </ion-button>
  </div>

  <br>
</ion-content>

