* {
  --ion-color-tertiary: #615ACDff;
}

ion-toolbar.ios {
  height: 76px; 
}

ion-title {

  color: white;

}
ion-card {
  --background: #5750CCff;
  --color: white;
  margin-bottom: 10%;
}
ion-card-header{
  --background: #5750CCff;
  --color: white;
}
ion-card-title{
  --background: #5750CCff;
  --color: white;
  font-weight: bolder;
  font-size: 150%;
  }

.boton-content {
  justify-content: center;
  text-align: center;
}

.boton {
  --background: #615ACDff;
  width: 70%;
  margin-bottom: 70px; 
}


  .asischeck-logo{
      width: 65%;
      display: block;
      margin: auto;
      margin-top: 1%;
    }

    


