<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Asignaturas</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <!-- Contenedor del código QR con tamaño fijo -->
  <div class="qr-container" *ngIf="mostrarQR">
    <ion-card class="ion-text-center">
      <ion-card-content>
        <qrcode [qrdata]="mensaje" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón para generar el código QR -->
  <ion-button class="generar-qr" (click)="generarQr()" color="success" shape="round">
    Generar QR
  </ion-button>

  <br>

  <ion-button class="volver" (click)="volver()" shape="round">
    Volver
  </ion-button>

  <br><br>

  <!-- Logo -->
  <div class="asischeck-logo" style="text-align: center; justify-content: center;">
    <img src="assets/img/asischecklogo_text.png" alt="logo">
  </div>
  <br>

</ion-content>