* {
  --ion-color-tertiary: #615ACDff;
}

ion-toolbar.ios {
  height: 76px; 
}

ion-title {

  color: white;

}
ion-card {
  --background: #5750CCff;
  --color: white;
  margin-bottom: 10%;
  width: fit-content;
}
ion-card-header{
  --background: #5750CCff;
  --color: white;
}
ion-card-title{
  --background: #5750CCff;
  --color: white;
  font-weight: bolder;
  font-size: 150%;
  }

.boton-content {
  justify-content: center;
  text-align: center;
}

.boton {
  --background: #615ACDff;
  width: 70%;
  margin-bottom: 10px; 
}

.botones {
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.qr-container {
  justify-content: center;
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.asischeck-logo{
  width: 65%;
  display: block;
  padding-top: 15%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
}

.generar-qr {

width: 70%;
padding-bottom: 5%;
}

.volver {
  --background: #615ACDff;
  padding-bottom: 25%;
  width: 70%;
}



