<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
  
    <div class="titulo">
      <ion-title>Cambiar Contraseña</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="recuperar-contrasena-content">

  <div class="logo-sup">
    <p class="logo-pos">
      <img src="assets/img/asischecklogo.png" alt="logo">
    </p>
  </div>

  <div class="recuperar-contrasena-container">
    <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="submitForm()">
      <!-- Agrega el campo de entrada para el correo electrónico -->
      <ion-item class="email">
        <ion-icon class="recuperar-contrasena-icon" name="mail-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="email" [autofocus]="false" formControlName="correoElectronico" placeholder="Escriba su correo nuevamente"></ion-input>
      </ion-item>

      <ion-item class="password">
        <ion-icon class="recuperar-contrasena-icon" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" [autofocus]="false" formControlName="nuevaContrasena" placeholder="Nueva Contraseña"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon class="eye" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item class="confirm-password">
        <ion-icon class="recuperar-contrasena-icon" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="password" [autofocus]="false" formControlName="confirmarContrasena" placeholder="Confirmar Contraseña"></ion-input>
      </ion-item>

      <ion-button class="submit ion-text-uppercase" type="submit" [disabled]="!cambiarContrasenaForm.valid" expand="block">Cambiar Contraseña</ion-button>

      <ion-button class="submit ion-text-uppercase" type="submit" (click)="regresarALogin()" expand="block">Volver</ion-button>

    </form>



  </div>

</ion-content>