<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <img alt="sala" src="assets/img/classroom.png" />
  <ion-card-header>
    <ion-card-title>¡Bienvenido a ASISCHECK!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Con nuestra nueva aplicación  ,como estudiante de Educación Superior podrás optimizar y agilizar los tiempos de registro de asistencia en tus clases, ya que, estamos conscientes de la pandemia que estamos viviendo y lo importante que es mantener la salud e integridad de todos los asistentes a las instituciones estudiantiles :) . 
  </ion-card-content>
</ion-card>

<div class="check">
  <p class="check">
    <img src="assets/img/checklist.png" alt="logo">
  </p>
</div>

<div class="checklist">
  <h1 class="checklist">
    Agilidad Total
  </h1>
</div>

</ion-content>
