<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title style="font-weight: lighter; font-family: Arial, Helvetica, sans-serif;">Información</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
  <img alt="sala" src="assets/img/classroom.png" />
  <ion-card-header>
    <ion-card-title>¡Bienvenido a ASISCHECK!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Con nuestra nueva aplicación, como estudiante de Educación Superior podrás optimizar y agilizar los tiempos de registro de asistencia en tus clases, ya que estamos conscientes de la pandemia que estamos viviendo y lo importante que es mantener la salud e integridad de todos los asistentes a las instituciones estudiantiles 😎 
  </ion-card-content>
</ion-card>

<div class="check">
  <p class="check">
    <img src="assets/img/checklist.png" alt="logo">
  </p>
</div>

<div class="checklist">
  <h1 class="checklist">
    ¡Agilidad Total!
  </h1>
</div>

<div class="checklistext">
  <p class="checklistext">
    ¡Con ASISCHECK, agilizarás en un 200% tu registro de asistencia a clases, para que asi cuentes con menos atrasos y puedas retirarte cuando tu jornada haya terminado!
  </p>
</div>

<div class="qrprofe">
  <p class="qrprofe">
    <img src="assets/img/qrprofe.png" alt="logo">
  </p>
</div>

<div class="qrprofetext">
  <h1 class="qrprofetext">
    ¡Presente por QR!
  </h1>
</div>

<div class="qrprofetext1">
  <p class="qrprofetext1">
    El docente a cargo de tu clase proyectará un Código QR en la pizarra que deberás escanear para poder registrar tu asistencia ese día a esa clase.
  </p>
</div>

<div class="qrboy">
  <p class="qrboy">
    <img src="assets/img/qrboy.png" alt="logo">
  </p>
</div>

<div class="qrboytext">
  <h1 class="qrboytext">
    ¡Escanea el QR!
  </h1>
</div>

<div class="qrboytext1">
  <p class="qrboytext1">
    A través de la pestaña en el menu llamada "Escanear QR", podrás escanear el código con tu cámara proyectado por tu docente alfinal de cada sesión, y automaticamente quedarás presente en tu clase.
  </p>
</div>

<div class="mascarilla">
  <p class="mascarilla">
    <img src="assets/img/mascarilla.png" alt="logo">
  </p>
</div>

<div class="mascarillatext">
  <p class="mascarillap">
    Recuerda las medidas de salud impuestas por el MINSAL.
  </p>
  <p class="mascarillatext">
    ¡Usa tu mascarilla de forma correcta y lava tus manos frecuentemente!
  </p>
</div>

<div class="asischeck-logo">
  <img src="assets/img/asischecklogo_text.png" alt="logo">
</div>

<br>

</ion-content>
