

ion-toolbar.ios {
    height: 76px; 
  }
  ion-card {
    --background: #5750CCff;
    --color: white;
  }
  ion-card-header{
    --background: #5750CCff;
    --color: white;
  }
  ion-card-title{
    --background: #5750CCff;
    --color: white;
  }
  