<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Asignaturas</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngFor="let asignatura of asignaturas">
      <ion-img [src]="asignatura.image" alt="{{ asignatura.name }}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ asignatura.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <p>Periodo: {{ asignatura.periodo }}</p>
        <p>Horario: {{ asignatura.horario }}</p>
      </ion-card-content>
      <p style="text-align: center; justify-content: center;">
        <ion-button class="boton-qr" (click)="irAGenerarQR(asignatura)" color="success" shape="round" > 
          Registrar Asistencia
        </ion-button>
      </p>
    </ion-card>
 
  
    <div class="asischeck-logo">
      <img src="assets/img/asischecklogo_text.png" alt="logo">
    </div>
    <br>
</ion-content>