<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-item>
      <ion-icon class="login-icon" name="person-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input [(ngModel)]="username" placeholder="Ingrese su usuario" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon class="login-icon" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    
    <ion-button expand="block" color="warning" (click)="autenticarLogin()">Ingresar</ion-button>
  </div>
</ion-content>
