
* {
  font-family: sans-serif, serif, Arial, Helvetica;
}

ion-title {
  text-align: center;
}

ion-toolbar.ios {
  height: 76px; 
}

.login-logo {
  position: absolute; 
  padding-top: 5%;
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center; 
  width: 60%; 

}

.usuario {
  margin-top: 20%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 87vh;
  padding: 20px;

}



ion-item {
  margin-bottom: 15px;
  --highlight-background: #8277E1ff;
  width: 105%;

}

ion-item.ios {
  margin-bottom: 15px;
  --highlight-background: #8277E1ff;
  width: 110%;
  
}

ion-item:first-child ion-icon[name='person-outline'] {
  margin-right: 8px; 
}

ion-item.password ion-icon[name='lock-closed-outline'] {
  margin-right: 8px; 
}

.submit {
  margin-top: 20px;
  --background: #615ACDff;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.forgot-password {
  text-align: center;
  font-size: 80%;
}

.eye {
  color: gray;
}

.sign-up {
  text-align: center;
  font-size: 80%;
}

a {
text-decoration: none;
}