<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Ingresar</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="logo-sup">
    <p class="logo-pos">
      <img src="assets/img/asischecklogo.png" alt="logo">
    </p>
  </div>

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <ion-item class="usuario">
        <ion-icon class="login-icon" name="person-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input [autofocus]="false" formControlName="usuario"  placeholder="Ingrese su usuario" ></ion-input>
      </ion-item>
      
      <ion-item class="password">
        <ion-icon class="login-icon" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}"  formControlName="contrasena"  [autofocus]="false" placeholder="Ingrese su contraseña"></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon class="eye" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      
      <ion-button class="submit ion-text-uppercase" type="submit" [disabled]="!loginForm.valid"  expand="block">Ingresar</ion-button>
      
      <div class="links">
        <p class="forgot-password">¿Olvidó su contraseña? <a href="javascript:void(0)">Recupérela aquí</a></p>

        <p class="sign-up">¿No dispone de una cuenta? <a routerLink="/register">Regístrese aquí</a> </p>
      </div>
    </form>
    
  </div>

</ion-content>
