<ion-app>
  <!-- Menú para Docentes -->
  <ion-menu *ngIf="isAuthenticated && (isDocente() | async)" contentId="main" menuId="docente" side="start" swipeGesture="false">
    <!-- ... (contenido del menú para docentes) -->
  </ion-menu>

  <!-- Menú para Estudiantes -->
  <ion-menu *ngIf="!isAuthenticated || !(isDocente() | async)" contentId="main" menuId="estudiante" side="start" swipeGesture="false">
    <!-- ... (contenido del menú para estudiantes) -->
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
