<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Regístrate</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="logo-sup">
    <p class="logo-pos">
      <img src="assets/img/asischecklogo.png" alt="logo">
    </p>
  </div>

  <div class="register-container">

    <form [formGroup]="registroForm" (ngSubmit)="submitForm()">

      <ion-item class="nombre">
        <ion-icon class="login-icon" name="person-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="text" formControlName="nombre" [(ngModel)]="newUsuario.name" class="nombre" [autofocus]="false" placeholder="Ingrese su nombre completo" ></ion-input>
      </ion-item>

      <ion-item class="rol">
        <ion-icon class="login-icon" name="school-outline" slot="start"></ion-icon>
        <ion-select formControlName="rol" [(ngModel)]="newUsuario.role" placeholder="Escoja su rol">
          <ion-select-option value="Estudiante">Estudiante</ion-select-option>
          <ion-select-option value="Docente">Docente</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="usuario">
        <ion-icon class="usuario-icon" name="sparkles-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="text" formControlName="usuario" [(ngModel)]="newUsuario.username" class="nombre" [autofocus]="false" placeholder="Ingrese su usuario" ></ion-input>
      </ion-item>

      <ion-item class="email">
        <ion-icon class="email-icon" name="mail-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="email" formControlName="correo" [(ngModel)]="newUsuario.email" class="email" [autofocus]="false" placeholder="Ingrese su correo" ></ion-input>
      </ion-item>
      
      <ion-item class="password">
        <ion-icon class="password-icon" name="lock-open-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="password" formControlName="contrasena" [(ngModel)]="newUsuario.password" [autofocus]="false" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-item class="password">
        <ion-icon class="password-icon" name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label></ion-label>
        <ion-input type="password" formControlName="confirmarContrasena" [autofocus]="false" placeholder="Confirme su contraseña" ></ion-input>
      </ion-item>
      
      <ion-button class="submit ion-text-uppercase"  expand="block" type="submit" [disabled]="!registroForm.valid" >Ingresar</ion-button>

    </form>

  </div>

</ion-content>
