<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="logo-sup">
    <p class="logo-pos">
      <img src="assets/img/asischecklogo.png" alt="logo">
    </p>
  </div>

  <div class="register-container">

    <ion-item class="nombre">
      <ion-icon class="login-icon" name="person-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="text" class="nombre" [autofocus]="false" placeholder="Ingrese su nombre completo" ></ion-input>
    </ion-item>

    <ion-item class="rut">
      <ion-icon class="usuario-icon" name="card-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="number" class="nombre" [autofocus]="false" placeholder="Ingrese su rut" ></ion-input>
    </ion-item>

    <ion-item class="jornada">
      <ion-icon class="login-icon" name="partly-sunny-outline" slot="start"></ion-icon>
      <ion-select placeholder="Seleccione una jornada">
        <ion-select-option value="diurno">Diurno</ion-select-option>
        <ion-select-option value="vespertino">Vespertino</ion-select-option>
       </ion-select>
    </ion-item>

    <ion-item class="usuario">
      <ion-icon class="usuario-icon" name="person-add-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="text" class="nombre" [autofocus]="false" placeholder="Cree su usuario" ></ion-input>
    </ion-item>

    <ion-item class="email">
      <ion-icon class="email-icon" name="mail-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="email" class="email" [autofocus]="false" placeholder="Ingrese su correo" ></ion-input>
    </ion-item>
    
    <ion-item class="password">
      <ion-icon class="password-icon" name="lock-open-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="password" [autofocus]="false" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>

    <ion-item class="password">
      <ion-icon class="password-icon" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-input type="password" [autofocus]="false" placeholder="Confirme su contraseña" ></ion-input>
    </ion-item>
    
    <ion-button class="submit ion-text-uppercase"  expand="block" >Ingresar</ion-button>
    
  </div>

</ion-content>
