<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon class="hamburguesa" slot="icon-only" name="menu-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="titulo">
      <ion-title>Inicio</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div class="login-logo">
    <img src="assets/img/asischecklogo.png" alt="logo"> 
  </div>


  <div class="parrafo">
    <p>¡La mejor aplicación para registrar la asistencia de estudiantes universitarios!.</p>
    <br>
    <p class="animate-charcter">Bienvenido/a {{ loggedUserName }} </p>
  </div>

  <div class="pics" style="justify-content: center;">
    <p style="text-align: center;">
      <img class="idcard" src="assets/img/idcard2.png" alt="idcard">
    </p>
  </div>


</ion-content>
