<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-logo">
    <img src="assets/img/asischeck.png" alt="logo"> 
  </div>

  <p class="titulo">BIENVENIDO</p>

  <div class="parrafo">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad repellat magni nostrum nesciunt ducimus quibusdam eligendi amet aut voluptatibus?</p>
  </div>

  <div class="boton-content">
    <ion-button class="boton">COMENZAR</ion-button>
    
  </div>





</ion-content>
