* {
  --ion-color-tertiary: #615ACDff;
}

ion-toolbar.ios {
  height: 76px; 
}

ion-title {
  text-align: center;
  color: white;
}

.logo {
  text-align: center;
}

.login-logo {
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
  width: 45%;
  margin-top: 10%;
}

.titulo {
  text-align: center;
  font-family: sans-serif, Arial, Helvetica, ;
  font-weight: bold;
  font-size: 30px;
}

.parrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  color: gray;
}

.boton-content {
  justify-content: center;
  text-align: center;
}

.boton {
  --background: #615ACDff;
  width: 70%;
  margin-bottom: 70px;
}