* {
  --ion-color-tertiary: #615ACDff;
}

ion-toolbar.ios {
  height: 76px; 
}

ion-title {

  color: white;

}

.logo {
  text-align: center;
}

.login-logo {
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
  width: 60%;
  margin-top: 10%;
}



.parrafo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  color: gray;
}

.boton-content {
  justify-content: center;
  text-align: center;
}

.boton {
  --background: #615ACDff;
  width: 70%;
  margin-bottom: 70px; 
}

a {
  text-decoration: none;

  color: white;
  }


  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100%;
      font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}